@media (min-width:1350px) and (max-width:1450px) {
    .list {
        width: 98px;
        height: 25px;
        position: absolute;
        z-index: 1;
        left: 507px !important;

    }

}

@media (min-width:1451px) and (max-width:1550px) {
    .list {
        width: 98px;
        height: 25px;
        position: absolute;
        z-index: 1;
        left: 557px !important;

    }

}


@media (min-width:320px) and (max-width:576px) {
    .nav-item {
        display: none;
    }


    .drop {
        position: relative;
    }

    .list {
        width: 98px;
        height: 25px;
        position: absolute;
        z-index: 3;
        left: 13px !important;
        top: 135.5px;
        background: #efefef;
        padding-bottom: 9px;
        text-align: center;
        border-bottom: 1px solid #8F7D6A;

    }

    .list li {

        border-top: none;
    }

    .toggle-items {
        position: relative;
        /* left: 72%; */
        /* border: 1px solid #8f7d6a; */
        padding: 14px;
        /* text-align: center; */
        /* width: 120px; */


    }

    .toggle-items li {
        border-bottom: 1px solid #503217;
    }

    .hero-section {
        background-color: #e8e6de;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        height: auto;
        gap: 20px;
        flex-wrap: wrap;

    }

    html,
    body {
        overflow-x: hidden;
    }

    .hero-section .img-container img {
        width: 300px;


    }

    .hero-section .img-container {
        position: relative;
        left: -30px;
    }

    .hero-section div {
        max-width: 100%;
        line-height: 30px;
        margin: 0px 0px;
        height: 100%;

    }


    .path-group {
        position: absolute;
        left: 0px;
        bottom: 30px;
        height: 172px;
        width: 184px;
    }



    .input input {
        background-color: #EBE9E0;
        border: 1px solid #361f0a;
        height: 26px;
        width: 200px;
        border-radius: 4px;
    }

    .input {
        gap: 10px;
        position: relative;
        left: -133px;
        top: 180px;
        z-index: 1;

    }


    h6 {
        font-size: 9px;
    }


    h4 {
        font-size: 25px;
        font-weight: 600;
    }

    h1 {
        font-size: 32px;
        font-weight: 400;
        line-height: 55px;
    }

    .store-section {
        background-color: #eeede7;
        height: 100%;
        /* margin-top: 200px; */
        display: block;
    }

    section {
        width: 100%;
    }

    .Shop-Category .container .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #eae2c3;
        height: auto;
        width: 120px;
        padding: 10px;
        gap: 6px;
        border-radius: 5%;
        margin-top: 50px;


    }

    .store-card {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .CTA-section .card {
        flex-direction: row;
        width: 310px;
        background-color: #fff;
        padding: 15px 30px;
        line-height: 26px;
        margin-top: 60px;

    }



    .path-group {
        position: absolute;
        left: 0px;
        bottom: 30px;
        height: 0px;
        width: 0px;
    }

    .mask-text-content {
        background-color: #ffffff;
        align-items: center;
        height: 100%;
        max-width: 100%;
        line-height: 57px;
        gap: 100px;
        border-radius: 10px;
        padding: 30px;
    }

    .mask-text-content h4 {
        font-size: 25px;
    }

    .mask-card .mask-img {
        max-width: 100%;
    }

    .review-section {
        background-color: #fff;
        /* padding: 50px 60px 20px; */
        height: 100%;
        width: 100%;
        font-size: 10px;
        color: #8F7D6A;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;


    }

    .review-section img {
        width: 35px;
    }

    .social-detail img {
        width: 40%;
        /* height: 260px; */
        object-fit: cover;

    }

    .CTA-section .card img {
        width: 80px;
    }

    .more-item {
        display: none;
    }

    .icons {
        height: 25px !important;
        width: 25px !important;
        margin: 5px;
    }

    .CTA-section .card img {
        width: 60px;
    }

    /* ================= home2============== */

    .main-container .sub-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: last baseline;
        justify-content: center;

    }

    .home2-hero-section .main-img-container {
        width: 100%;
        height: auto;


    }

    .home2-hero-section .main-img-container img {
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    .company {
        display: flex;
        justify-content: space-evenly;
        background-color: #E2DFCF;
        height: auto;
        align-items: center;
        padding: 0px 10px;
        margin-top: 10px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .company img {
        width: 120px;
        /* height: 40px; */
    }

    .our-story>.container {
        align-items: center;
        /* width: 100%; */
        flex-flow: column-reverse wrap;

    }

    .our-story>.container h4 {
        font-size: 20px !important;
    }

    /* .our-story .card-container .img-container .fi-img{
    width: fit-content ;
    height: 300px;
} */
    .our-story .card-container {
        gap: 20px;
        margin-top: 60px;
        flex-wrap: wrap;
        flex-flow: column-reverse wrap;

        /* align-items: center; */
    }


    .our-collection {
        width: 100%;
    }

    .our-collection .main-card-container .flex-row {
        width: 100% !important;
        display: flex;
        flex-direction: column;

    }

    .main-container {
        width: 100%;
    }

    /* .text-card button .flex-row{
    padding: 0px 0px;
    align-items: center;
    flex-direction: row !important;
} */
    .text-card .btn,
    .text-card .span,
    .text-card h4 {
        margin: 30px;
    }

    .main-card-container .sub-card-container .card {
        width: 100%;
    }



    .CTA-card-section .CTA-img-content {
        display: flex;
        position: static;
        width: 55%;
        flex-direction: row;
        width: 100%;
    }

    .CTA-card-section .CTA-main-content {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .CTA-card-section .big-img img {
        height: 220px;
        width: 130px;


    }

    .CTA-card-section .CTA-text-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
    }



    .CTA-card-section .small-img img {
        position: static;
        height: 150px;
        width: 80px;

    }

    .healthcare-insight .container {
        display: flex;
        align-items: start;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        gap: 30px;
    }

    .healthcare-insight .container .card .text-container h6 {
        display: flex;
        align-items: center;
        font-size: 11px;


    }

    .healthcare-insight .container .card .text-container .h6 {
        border-bottom: 2px solid #503217;
        width: fit-content;
    }

    .healthcare-insight .container .card {
        width: 100%;
        gap: 0px;
        flex-direction: column;
    }

    .healthcare-insight .container .card .img-container {
        width: 100%;
        height: 300px;
    }

    .healthcare-insight .container .card .img-container img {
        width: 100%;
        height: 100%;
    }

    .healthcare-insight .container .card .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px 0px;


    }

    .healthcare-insight .container .card {
        display: flex;
    }


    .healthcare-insight .container .card .text-container p {
        display: flex;
        align-items: center;
        gap: 2px;
        /* font-size: 11px; */
    }


    /* ==================  about page ========== */



    .about-hero-section .container {
        width: 100%;

    }


    .about-hero-section .container h4 {
        text-align: center;
        font-size: 20px !important;
    }



    .about-hero-section .container {
        height: auto;
        /* width: 50%; */
        gap: 20px;
        flex-wrap: wrap;
    }

    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .about-hero-section .about-us div {

        width: 100%;
        gap: 50px;
    }

    .our-team .container .sub-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;

    }

    .our-team-img {
        display: flex;
        /* flex-direction: column; */
        align-items: end;
        gap: 30px;
        width: 100%;
    }

    .our-team-img img {
        width: 100px !important;
        height: 150px;
    }

    .our-team .container p {
        font-size: 15px;
        display: flex;
        align-items: center;
        margin: 5px;
        cursor: pointer;
    }

    .span {
        font-size: 10px;
        display: flex;
        align-items: center;
        /* margin: 10px; */
        cursor: pointer;
        width: 200px;
    }

    .button-container {
        display: flex;
    }

    .about-section-cta .flex-row {
        /* background-color: #ffffff; */

        gap: 20px;
        /* flex-wrap: wrap !important; */
        /* flex-direction: column-reverse !important; */
    }

    .about-section-cta .container div {
        width: 100% !important;
        height: auto;
    }

    .text-div {
        /* justify-content: start; */
        align-items: start;
        gap: 20px;
        width: 100% !important;
    }

    .about-section-cta .container {
        background-color: #ffffff;
        /* margin: 20px 10%; */
        /* padding: 40px; */
        gap: 50px;
        height: auto;
        padding: 30px;
        /* margin: 3px;;, */


    }

    /* ================ shop now =============== */


    .size {
        width: 240px !important;
        height: 240px;
        object-fit: cover;
    }



    .shop-hero-section .container .relative {
        display: flex;
        flex-direction: column;
        position: relative;

    }

    .shop-hero-section .container .text-container {
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .absolute {
        position: absolute;
        left: 95px;
        top: 145px;
        width: 55px;
    }


    .div1 {
        display: flex;
        border: 1px solid #361f0a;
        text-align: start;
        align-items: start;
        width: 320px;
        /* height: 120px; */
        padding: 5px;
        flex-direction: column;
        /* gap: 20px; */

    }

    .form-container .div {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column !important;
        gap: 5px;
    }

    .textarea {
        margin-left: 30px;
    }

    textarea {
        background-color: #EBE9E0;
        border: 1px solid #361f0a;
        border-radius: 4px;
        margin-top: 5px;
        background: url(../img/contact/pen-to-square.png) no-repeat;
        background-size: 20px;
        padding-left: 21px;
        width: 300px;
        height: 300px;
    }

    .form-container {
        gap: 20px;
        align-items: start !important;
        justify-content: start !important;
    }

    .Accordion p {
        width: 300px !important;
        /* height: 100px; */
        font-size: 10px;

    }

    .shop-hero-section .container .text-container p {
        width: 100%;
    }


    .sub-column {
        text-align: start;
        gap: 20px;
        align-items: start;
        width: 30%;


    }

    .column-I {
        align-items: start;
        justify-content: center !important;
        display: flex;
        flex-direction: row !important;

    }

    .img {
        gap: 10px;
    }

    .center-column {
        width: 100%;
        margin: 0px 50px;
        gap: 20px;
        align-items: start;


    }

    .mini-column,
    .mini-column div {
        gap: 10px;
        align-items: start;
        text-align: start;

    }


    footer {

        justify-content: center !important;
        align-items: center !important;
        gap: 40px;

    }


}



@media (min-width:996px) and (max-width:2000px) {

    .toggle {
        display: none;
    }
}

@media (min-width: 577px) and (max-width:995px) {
    .nav-item {
        display: none;
    }

    .drop {
        position: relative;
    }

    .list {
        width: 98px;
        height: 25px;
        position: absolute;
        z-index: 3;
        left: 3px;
        top: 123.5px;
        background: #efefef;
        padding-bottom: 9px;
        text-align: center;
        border-bottom: 1px solid #8F7D6A;

    }

    .list li {

        border-top: none;
    }


    header {
        position: relative;
    }

    .toggle-items li {
        border-bottom: 1px solid #503217;
    }

    .more-item {
        display: none;
    }



    .toggle-items {
        position: relative;
        top: px;
        left: 0px;
        display: block;
    }

    .hero-section {
        background-color: #e8e6de;
        display: flex;
        align-items: center;
        justify-content: center;
        position: static;
        height: auto;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;

    }

    html,
    body {
        overflow-x: hidden;
    }

    .hero-section .img-container img {
        width: 500px;


    }

    .hero-section .img-container {
        position: relative;
        /* top: -300px; */
        left: -30px;
    }

    .hero-section div {
        max-width: 100%;
        line-height: 60px;
        margin: 0px 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }


    .path-group {
        position: absolute;
        left: 0px;
        bottom: 30px;
        height: 172px;
        width: 184px;
    }

    .input input {
        background-color: #EBE9E0;
        border: 1px solid #361f0a;
        height: 26px;
        width: 200px;
        border-radius: 4px;
    }

    h6 {
        font-size: 9px;
    }


    h4 {
        font-size: 35px;
        font-weight: 600;
    }

    h1 {
        font-size: 62px;
        font-weight: 400;
        line-height: 55px;
    }

    .store-section {
        background-color: #eeede7;
        height: 100%;
        margin-top: 200px;
        display: block;
    }

    section {
        width: 100%;
    }

    .Shop-Category .container .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #eae2c3;
        height: auto;
        width: 190px;
        padding: 10px;
        gap: 6px;
        border-radius: 5%;
        margin-top: 50px;


    }

    .store-card {
        flex-wrap: wrap;
    }

    .store-collection .card {
        margin-top: 35px;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }




    .CTA-section .card {
        flex-direction: row;
        width: 390px;
        background-color: #fff;
        padding: 15px 30px;
        line-height: 26px;
        margin-top: 60px;
        gap: 40px;

    }



    .path-group {
        position: absolute;
        left: 0px;
        bottom: 30px;
        height: 0px;
        width: 0px;
    }

    .mask-text-content {
        background-color: #ffffff;
        align-items: center;
        height: 100%;
        max-width: 100%;
        line-height: 57px;
        gap: 100px;
        border-radius: 10px;
        padding: 30px;
    }

    .mask-text-content h4 {
        font-size: 25px;
    }

    .mask-card .mask-img {
        max-width: 100%;
    }

    .review-section {
        background-color: #fff;
        /* padding: 50px 60px 20px; */
        height: 100%;
        width: 100%;
        font-size: 10px;
        color: #8F7D6A;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;


    }

    .review-section img {
        width: 35px;
    }

    .social-detail img {
        width: 40%;
        /* height: 260px; */
        object-fit: cover;

    }

    .icons {
        height: 25px !important;
        width: 25px !important;
        margin: 5px;
    }

    .CTA-section .card img {
        width: 100px;
    }

    /* ============== home2 ============== */



    .main-container .sub-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: last baseline;
        justify-content: center;

    }

    .home2-hero-section .main-img-container {
        width: 100%;
        height: auto;


    }

    .home2-hero-section .main-img-container img {
        width: 100%;
        height: auto;
        object-fit: cover;

    }

    .company {
        display: flex;
        justify-content: space-evenly;
        background-color: #E2DFCF;
        height: auto;
        align-items: center;
        padding: 0px 10px;
        margin-top: 10px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .company img {
        width: 120px;
        /* height: 40px; */
    }

    .our-story>.container {
        align-items: center;
        /* width: 100%; */
    }

    .our-story>.container h4 {
        font-size: 20px !important;
    }

    .our-story .card-container {
        gap: 20px;
        margin-top: 60px;
        flex-wrap: wrap;
        /* align-items: center; */
    }


    .our-collection {
        width: 100%;
    }

    .our-collection .main-card-container .flex-row {
        width: 100% !important;
        display: flex;
        flex-direction: column;

    }

    .main-container {
        width: 100%;
    }

    /* .text-card button .flex-row{
    padding: 0px 0px;
    align-items: center;
    flex-direction: row !important;
} */
    .text-card .btn,
    .text-card .span,
    .text-card h4 {
        margin: 30px;
    }

    .main-card-container .sub-card-container .card {
        width: 100%;
    }



    .CTA-card-section .CTA-img-content {
        display: flex;
        position: static;
        width: 55%;
        flex-direction: row;
        width: 100%;
    }

    .CTA-card-section .CTA-main-content {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .CTA-card-section .big-img img {
        height: 220px;
        width: 130px;


    }

    .CTA-card-section .CTA-text-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
    }



    .CTA-card-section .small-img img {
        position: static;
        height: 150px;
        width: 80px;

    }

    .healthcare-insight .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        gap: 30px;
    }

    .healthcare-insight .container .card .text-container h6 {
        display: flex;
        align-items: center;
        font-size: 11px;


    }

    .healthcare-insight .container .card {
        align-items: center;
        justify-content: center;
    }

    .healthcare-insight .container .card .text-container .h6 {
        border-bottom: 2px solid #503217;
        width: fit-content;
    }

    .healthcare-insight .container .card {
        width: 100%;
        gap: 0px;
        flex-direction: column;
    }

    .healthcare-insight .container .card .img-container {
        width: 500px;
        height: fit-content;
    }

    .healthcare-insight .container .card .img-container img {
        width: 100%;
        height: 100%;
    }

    .healthcare-insight .container .card .text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 50px 0px;
        gap: 30px;


    }

    .healthcare-insight .container .card {
        display: flex;
    }


    .healthcare-insight .container .card .text-container p {
        display: flex;
        align-items: center;
        gap: 2px;
        /* font-size: 11px; */
    }


    /* ==================  about page ========== */



    .about-hero-section .container {
        width: 100%;

    }


    .about-hero-section .container h4 {
        text-align: center;
        font-size: 40px !important;
    }



    .about-hero-section .container {
        height: auto;
        /* width: 50%; */
        gap: 80px;
        flex-wrap: wrap;
    }

    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .about-hero-section .about-us div {

        width: 100%;
        gap: 50px;
    }

    .our-team .container .sub-container {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        gap: 40px;

    }

    .our-team-img {
        display: flex;
        align-items: end;
        gap: 30px;
        width: 100%;
    }

    .our-team-img img {
        width: 150px !important;
        height: 200px;

    }

    .our-team .container p {
        font-size: 15px;
        display: flex;
        align-items: center;
        margin: 5px;
        cursor: pointer;
        /* flex-direction: column; */
    }

    /* .span {
        font-size: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 200px;
    } */


    .about-section-cta .flex-row {
        /* background-color: #ffffff; */

        gap: 20px;
        /* flex-wrap: wrap !important; */
        /* flex-direction: column-reverse !important; */
    }

    .about-section-cta .container div {
        width: 100% !important;
        height: auto;
    }

    .text-div {
        /* justify-content: start; */
        align-items: start;
        gap: 20px;
        width: 100% !important;
    }

    .about-section-cta .container {
        background-color: #ffffff;
        /* margin: 20px 10%; */
        /* padding: 40px; */
        gap: 50px;
        height: auto;
        padding: 30px;
        /* margin: 3px;;, */


    }

    /* ================== shop ============ */


    .shop-hero-section .container .text-container p {
        width: 100%;
    }




}